<template>

    <div class="d-flex">
        <v-card elevation="3" v-for="item in konten" :key="item.title"
                class="dashboard-card"
                rounded
        >
            <v-card-text>
                <p v-text="item.title"></p>


            </v-card-text>

        </v-card>
    </div>
</template>

<script>
    export default {
        name: "Dashboard",
        data() {
            return {
                "konten": [
                    {
                        "title": "Revenue",
                    },
                    {
                        "title": "Expenses"
                    },

                ]
            }
        }
    }
</script>

<style scoped>
    .dashboard-card {
        width: 500px;
        margin: 10px;
    }

    .card-border-radius{
        
    }
</style>