<!-- Vue Template HTML Markup -->

<template>
    <v-app class="myfont">
        <v-navigation-drawer

                v-model="drawer"
                :mini-variant.sync="mini"
                expand-on-hover
                permanent
                app
        >
            <v-list-item class="px-2" style="height: 64px">
                <v-list-item-avatar>
                    <v-img src="../src/assets/logo.png"></v-img>
                </v-list-item-avatar>

                <v-list-item-title>Genossys</v-list-item-title>


            </v-list-item>

            <div style="height: 10px"></div>
            <v-list dense>
                <v-list-item
                        v-for="item in items"
                        :key="item.title"
                        :to="item.route"
                        link
                >
                    <v-list-item-icon>
                        <v-icon>{{ item.icon }}</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title>{{ item.title }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>

        <v-app-bar
                fixed
                color="white"
                elevate-on-scroll
                app
        >

            <v-toolbar-title>Title</v-toolbar-title>

            <v-spacer></v-spacer>

            <v-btn icon>
                <v-icon>mdi-magnify</v-icon>
            </v-btn>

            <v-btn icon>
                <v-icon>mdi-heart</v-icon>
            </v-btn>

            <v-btn icon>
                <v-icon>mdi-dots-vertical</v-icon>
            </v-btn>

        </v-app-bar>

        <!-- Sizes your content based upon application components -->


      <v-main>

                <!-- Provides the application the proper gutter -->
                <v-container fluid>

                    <!-- If using vue-router -->
                    <router-view></router-view>
                </v-container>
            </v-main>

            <v-footer app>
                <!-- -->
            </v-footer>

    </v-app>
</template>

<script>

    export default {
        name: 'App',

        components: {},

        data() {
            return {
                drawer: true,
                items: [
                    {title: 'Home', icon: 'mdi-view-dashboard', route: "/",},
                    {title: 'Revenue', icon: 'mdi-account', route: "/Revenue"},
                    {title: 'Expenses', icon: 'mdi-account-group-outline', route: "/Expenses"},
                ],
                mini: true,
            }
        },
    };
</script>

<style > </style>
